.card {
  height: 100%;
  cursor: pointer;

  &:hover {
    scale: 1.01;
    transition: all .2s;
  }
}

.card-image {
  max-height: 150px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  margin: 0.5rem 0;
}

mat-chip.tag {
  background: rgb(225 239 254);
  border: none;
}

.tags-list {
  overflow: hidden;
  max-height: 4rem;
}

.card-content {
  flex: 1 1 auto;
}

.visit-button {
  margin: 5px;
  width: 100%;
}
