
<div class=" flex-grow-1  mt-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <span>
    <img class="h-64 mx-auto rounded-t-lg" [src]="sight.sightPhotos.at(0)!.url" alt="product image" />
  </span>
  <div class="px-5 pb-5 my-auto">
    <div>
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{sight.name}}</h5>
    </div>
    <div class="flex items-center mt-2.5 mb-5">
      <div class="overflow-x-hidden ">
        <span *ngFor="let tag of (sight.tags)" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
          {{tag.name}}</span>
      </div>
    </div>
    <div class="flex  items-center justify-between">
      <a routerLink="/sight/{{sight.id}}" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Details</a>
    </div>
  </div>
</div>
