
<div class="max-w-sm mt-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <span>
    <img class="p-8 mx-auto rounded-t-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_UJR12baxG-xndirVuRsNN67Ol-xCYwUHTCa5uz_JvcKUcX8en5cCe3pWxJl-qIgb68E&usqp=CAU" alt="product image" />
  </span>
  <div class="px-5 pb-5">
    <div >
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{sight.name}}</h5>
    </div>
    <div class="flex items-center mt-2.5 mb-5">
      <div class="overflow-x-hidden ">
        <span *ngFor="let tag of sight.tags">
          {{tag.name}}
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <a routerLink="/sight/{{sight.id}}" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Details</a>
    </div>
  </div>
</div>
