<section class="bg-white dark:bg-gray-900 py-4">
  <div class=" mx-auto px-4">
    <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
      <div class="flex justify-between items-center mb-2">
        <div class="flex items-center">
          <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">{{review.reviewer}}</p>
          <p class="text-sm text-gray-600 dark:text-gray-400"><time title="{{review.posted|date}}">{{review.posted | date}}</time></p>
        </div>

      </div>
      <p class="text-gray-500 dark:text-gray-400">{{review.reviewText}}</p>

      <div class="flex flex-row overflow-x-scroll mt-3" *ngIf="review.photos && review.photos.length > 0">
        <img class="ml-3 rounded-lg w-64" *ngFor="let photo of review.photos" [src]="photo.url" alt="photo">
      </div>
    </article>
  </div>
</section>
