<div class="flex items-center lg:order-2">
  <a routerLink="/search" id="toggleSidebarMobileSearch" type="button" class="p-2 text-gray-500 rounded-lg  hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    <span class="sr-only">Search</span>
    <!-- Search icon -->
    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
    </svg>
  </a>

  <a routerLink="/admin" *ngIf="isAdmin$|async" class="">
    <i class="fas fa-bolt" style="color: #3e3c3c;"></i>
  </a>
  <app-theme-switcher></app-theme-switcher>

  <app-auth-menu></app-auth-menu>
</div>
