<div *ngIf="!(isAuthenticated$|async); else userMenu;" class="align-middle my-0">
  <a routerLink="/auth/login" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg lg:ml-4 text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Log in</a>
</div>

<ng-template #userMenu>
  <button id="dropdownUserAvatarButton" data-dropdown-toggle="userDropdown" aria-expanded="false" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">
    <span class="sr-only">Open user menu</span>
    <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
  </button>
  <!-- Dropdown menu -->
  <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="userDropdown">
    <div class="py-3 px-4">
      <span class="block text-sm font-semibold text-gray-900 dark:text-white">Neil sims</span>
      <span class="block text-sm text-gray-500 truncate dark:text-gray-400">name&#64;flowbite.com</span>
    </div>
    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
      <li>
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">My profile</a>
      </li>
    </ul>
    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
      <li>
        <a (click)="logout();" href="#" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
  </div>
</ng-template>
