@import "@angular/material/prebuilt-themes/azure-blue.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';
@import 'leaflet/dist/leaflet';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine';

html, body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}
body { margin: 0;  }


.spacer {
  flex: 1 1 auto;
}
