@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';
@import 'leaflet/dist/leaflet';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine';

/*  ANGULAR MATERIAL OVERWRITES  */
@import 'styles/mat-chips';

html, body {
  height: 100%;
}
body { margin: 0; padding: 0; box-sizing: border-box; }

* {
  font-family: $fontFamily;
}

.spacer {
  flex: 1 1 auto;
}

